<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <appender name="HttpApiAppender" type="TEC.Logging.Log4Net.Appenders.HttpApiAppender,TEC.Logging.Log4Net">
    <endPoint value="http://localhost:5222/api/API002Logging/NewLog" />
    <threshold value="Debug" />
    <activityIdHeaderKey value="ActivityId" />
    <triggerReferenceIdHeaderKey value="TriggerReferenceId" />
    <loggingTriggerTypeHeaderKey value="LoggingTriggerType" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="HttpApiAppender" />
  </root>
</log4net>
