<?xml version="1.0" encoding="utf-8" ?>
<!--<log4net debug="true">-->
<log4net>
	<appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<ReconnectOnError value="true" />
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
		<connectionStringName value="tecLog4Net.adonet.connectionString" />
		<connectionStringFile value="appsettings.json" />
		<commandText value="EXEC [dbo].[usp_LogRecord_Add]
		                      @activityID,
		                      @level,
		                      @exeptionType,
		                      @exceptionMessage,
		                      @exceptionStackTrace,
		                      @hostName,
		                      @message,
		                      @messageType,
		                      @scope,
		                      @system,
		                      @resource,
		                      @triggerType,
		                      @triggerReferenceID,
		                      @extendedProperties,
		                      @ipAddress,
		                      @createdDate" />
		<!--事件ID-->
		<parameter>
			<parameterName value="@activityID" />
			<dbType value="Guid" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="ActivityID" />
			</layout>
		</parameter>
		<!--紀錄等級-->
		<parameter>
			<parameterName value="@level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<!--例外類型-->
		<parameter>
			<parameterName value="@exeptionType" />
			<dbType value="String" />
			<size value="1000" />
			<layout type="log4net.Layout.PatternLayout">
				<converter>
					<name value="exeptionType" />
					<type value="TEC.Logging.Log4Net.Converters.ExceptionTypePatternConverter, TEC.Logging.Log4Net" />
				</converter>
				<conversionPattern value="%exeptionType" />
			</layout>
		</parameter>
		<!--例外訊息-->
		<parameter>
			<parameterName value="@exceptionMessage" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%exception{message}" />
			</layout>
		</parameter>
		<!--例外堆疊追蹤-->
		<parameter>
			<parameterName value="@exceptionStackTrace" />
			<dbType value="String" />
			<size value="20480" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>

		<!--主機名稱-->
		<parameter>
			<parameterName value="@hostName" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName}" />
			</layout>
		</parameter>
		<!--訊息-->
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="1000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<!--訊息類型-->
		<parameter>
			<parameterName value="@messageType" />
			<dbType value="Int16" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="MessageType" />
			</layout>
		</parameter>
		<!--範圍-->
		<parameter>
			<parameterName value="@scope" />
			<dbType value="Byte" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="Scope" />
			</layout>
		</parameter>
		<!--系統範圍-->
		<parameter>
			<parameterName value="@system" />
			<dbType value="Byte" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="SystemScope" />
			</layout>
		</parameter>
		<!--資源-->
		<parameter>
			<parameterName value="@resource" />
			<dbType value="String" />
			<size value="200" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Resource}" />
			</layout>
		</parameter>
		<!--觸發者類型-->
		<parameter>
			<parameterName value="@triggerType" />
			<dbType value="Byte" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="TriggerType" />
			</layout>
		</parameter>
		<!--觸發者 ID-->
		<parameter>
			<parameterName value="@triggerReferenceID" />
			<dbType value="Guid" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="TriggerReferenceID" />
			</layout>
		</parameter>
		<!--其他內容-->
		<parameter>
			<parameterName value="@extendedProperties" />
			<dbType value="String" />
			<size value="20480" />
			<layout type="log4net.Layout.PatternLayout">
				<converter>
					<name value="ExtendProperties" />
					<type value="TEC.Logging.Log4Net.Converters.ExtendPropertiesJsonPatternConverter, TEC.Logging.Log4Net" />
				</converter>
				<conversionPattern value="%ExtendProperties" />
			</layout>
		</parameter>
		<!--IP地址-->
		<parameter>
			<parameterName value="@ipAddress" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{IPAddress}" />
			</layout>
		</parameter>
		<!--建立日期-->
		<parameter>
			<parameterName value="@createdDate" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="AdoNetAppender" />
	</root>
</log4net>
